.thankucomponent{
    height: 65vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thankusubcomponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thankusymbol{
    font-size: 15rem;
}

.thanku{
    font-size: 3rem;
}

.thankutext{
    font-size: 1.2rem;
    color: green;
}